.drawDown, .fadeIn, .fadeIn.s05, .fadeIn.s1, .fadeIn.s1.r1, 
.slideUp, .slideUp.r05, .zoomIn {
    opacity: 0;
}

@keyframes cargarTitulo {
    from { transform: translateX(0); }
    to { transform: translateX(var(--Titulo)); }
}

@keyframes showLinkLeft {
    from {
        opacity: 0;
        transform: translateX(-3.125rem);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes showLinkUp {
    from {
        opacity: 0;
        transform: translateY(.5rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.drawDown {
    overflow: hidden;
    animation: DrawDown 1s ease .3s forwards;
}

    .drawDown.withPadding { /* Buscar alternativa */
        animation: DrawDownWithPadding 1s ease .3s forwards;
    }

@keyframes DrawDown {
    from { 
        height: 0%;
        opacity: .5;
    }
    to { 
        height: 100%;
        opacity: 1;
    }
}

@keyframes DrawDownWithPadding  { /* Buscar alternativa */
    from { 
        height: 0%;
        opacity: .5;
    }
    to { 
        height: 100%;
        opacity: 1;
        padding: .75rem;
    }
}

.fadeIn {
    animation: FadeIn 1.5s ease-in-out .3s forwards;
}

    .fadeIn.s05 {
        animation: FadeIn .5s ease-in-out .3s forwards;
    }

    .fadeIn.s1 {
        animation: FadeIn 1s ease-in-out .3s forwards;
    }

    .fadeIn.s1.r06 {
        animation: FadeIn 1s ease-in-out .6s forwards;
    }

@keyframes FadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes FadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.slideUp {
    transform: translateY(2rem);
    animation: SlideUp .5s ease 1s forwards;    
}

    .slideUp.r05 {
        transform: translateY(2rem);
        animation: SlideUp .5s ease .5s forwards;    
    }

@keyframes SlideUp {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes SlideDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(2rem);
    }
}

.zoomIn {
    transform-origin: bottom left;
    animation: ZoomIn 1s ease .3s forwards;
}

@keyframes ZoomIn {
    from {
        opacity: 0;
        transform: scale(.3);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes ZoomOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(.3);
    }
}