.content-container .content {
    padding: 1.25rem;
    width: 90%;
    row-gap: .7rem;
}

    .content-container .content .title {
        padding: 1.1rem;
        font-size: .95rem;
    }

.content-container .overlay .popup {
    width: 31.25rem;
}

    .content-container .overlay .popup button {
        font-size: 1.25rem;
        line-height: 1.25rem;
    }

@media screen and (max-width: 375px) {
    .content-container .content .title {
        font-size: .9rem;
    }

    .content-container .content .report button {
        top: .5rem;
        right: .5rem;
        font-size: 2rem;
    }
}