.content-container .content {
    padding: 1.25rem;
    width: 90%;
    row-gap: .7rem;
}

    .content-container .content .title {
        padding: 1.1rem;
        font-size: .95rem;
    }

.content-container .overlay .popup {
    width: 31.25rem;
}

    .content-container .overlay .popup button {
        font-size: 1.25rem;
        line-height: 1.25rem;
    }