footer:not(.index) .content  {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
    align-content: space-around;
}

    footer .content .head {
        width: 40%;
        max-width: 28rem;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        margin-left: 0;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    footer .content .nav {
        width: 95%;
        max-width: 60.75rem;
    }

        footer .content .nav .section {
            margin-top: 1.5rem;
        }

footer.index .content {
    width: 75%;
    max-width: 48rem;
}

footer .logo {
    margin-bottom: 0;
}