header {
    background: var(--grisUI);
    color: var(--grisClaro);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    height: 4.375rem;
    width: 100%;
}

    header a {
        text-decoration: none;
        color: inherit;
        -webkit-transition: color .5s ease-in-out;
        -o-transition: color .5s ease-in-out;
        transition: color .5s ease-in-out;
    }

    header button {
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: var(--azulOscuro);
        border: none;
        outline: none;
        border-radius: 62.5rem;
        position: relative;
        -webkit-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
        text-shadow: var(--sombraIconos);
    }

        header button span {
            width: 2rem;
            height: 2rem;
            line-height: 2rem;
            display: block;
            background: none;
            color: var(--grisClaro);
        }

        header button.active {
            background: var(--naranja);
        }

            header button.active::after {
                -webkit-transform: translateX(2rem);
                    -ms-transform: translateX(2rem);
                        transform: translateX(2rem);
                left: unset;
            }
        
    header button::after {
        content: "";
        display: block;
        width: 2rem;
        height: 2rem;
        position: absolute;
        background: #fff;
        left: 0;
        right: unset;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 2px 2px #00000033;
                box-shadow: 0 0 2px 2px #00000033;
    }

        body.transitions-night-mode-on header button::after {
            /* Sólo aplica la transición cuando la página esta cargada. */
            -webkit-transition: -webkit-transform .5s ease;
            transition: -webkit-transform .5s ease;
            -o-transition: transform .5s ease;
            transition: transform .5s ease;
            transition: transform .5s ease, -webkit-transform .5s ease;
        }

    header nav {
        width: 60%;
        max-width: 55rem;
    }

        header nav ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
               -ms-flex-pack: justify;
            justify-content: space-between;
        }

            header nav ul li {
                display: inline-block;
            }
            
                header nav ul li a:hover {
                    color: var(--naranja);
                }
            
            header nav ul li.current a {
                color: var(--naranja);
                cursor: default;
            }
            
    header .logo {
        font-size: 2.75rem;
        font-weight: bold;
        color: #FFF;
    }

        header .logo span {
            color: var(--azulClaro);
            -webkit-transition: color .5s ease-in-out;
            -o-transition: color .5s ease-in-out;
            transition: color .5s ease-in-out;
        }

        header .logo.index span {
            color: var(--naranja);
        }

        header .logo:hover:not(.index) span {
            color: var(--naranja);
        }
    
    header .menu {
        cursor: pointer;
        width: 25px;
        height: 20px;
        display: none;
        -webkit-box-pack: center;
           -ms-flex-pack: center;
         justify-content: center;
         -webkit-box-align: center;
            -ms-flex-align: center;
               align-items: center;
    }

        header .menu .boton,
        header .menu .boton::after,
        header .menu .boton::before {
            width: 25px;
            height: 3px;
            border-radius: 5px;
            -webkit-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            background: var(--grisClaro);
        }

        header .menu .boton::after,
        header .menu .boton::before {
            content: "";
            position: absolute;
        }

        header .menu .boton::after {
            -webkit-transform: translateY(-8px);
                -ms-transform: translateY(-8px);
                    transform: translateY(-8px);
        }

        header .menu .boton::before  {
            -webkit-transform: translateY(8px);
                -ms-transform: translateY(8px);
                    transform: translateY(8px);
        }

            header .menu.open .boton {
                -webkit-transform: translateX(25px);
                    -ms-transform: translateX(25px);
                        transform: translateX(25px);
                background: transparent;
            }

            header .menu.open .boton::before {
                -webkit-transform: rotate(45deg) translate(-17.5px, 17.5px);
                    -ms-transform: rotate(45deg) translate(-17.5px, 17.5px);
                        transform: rotate(45deg) translate(-17.5px, 17.5px);
            }

            header .menu.open .boton::after {
                -webkit-transform: rotate(-45deg) translate(-17.5px, -17.5px);
                    -ms-transform: rotate(-45deg) translate(-17.5px, -17.5px);
                        transform: rotate(-45deg) translate(-17.5px, -17.5px)
            } 

@media screen and (max-width: 1250px) {
    header nav {
        width: 75%;
        max-width: 48rem;
    }
}