header a {
    text-decoration: none;
    color: inherit;
    transition: color .5s ease-in-out;
}

header button {
    cursor: pointer;
    display: flex;
    background: var(--azulOscuro);
    border: none;
    outline: none;
    border-radius: 62.5rem;
    position: relative;
    transition: all 1s ease;
    text-shadow: var(--sombraIconos);
}

    header button span {
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        display: block;
        background: none;
        color: var(--grisClaro);
    }

    header button.active {
        background: var(--naranja);
    }

        header button.active::after {
            transform: translateX(2rem);
            left: unset;
        }
    
    header button::after {
        content: "";
        display: block;
        width: 2rem;
        height: 2rem;
        position: absolute;
        background: #fff;
        left: 0;
        right: unset;
        border-radius: 50%;
        transition: transform .5s ease;
        box-shadow: 0 0 2px 2px #00000033;
    }

header {
    background: var(--grisUI);
    color: var(--grisClaro);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4.375rem;
    width: 100%;
}

header nav {
    max-width: 55rem;
    width: 60%;
}

    header nav ul {
        display: flex;
        justify-content: space-between;
    }

        header nav ul li {
            display: inline-block;
        }
           
            header nav ul li a:hover {
                color: var(--naranja);
            }
        
        header nav ul li.current a {
            color: var(--naranja);
            cursor: default;
        }
        


header .logo {
    font-size: 44px;
    font-weight: bold;
    color: #FFF;
}

    header .logo span {
        color: var(--azulClaro);
        transition: color .5s ease-in-out;
    }

    header .logo.index span {
        color: var(--naranja);
    }

    header .logo:hover:not(.index) span {
        color: var(--naranja);
    }