@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto&display=swap');

:root {
    /* Colores */
    --azulClaro: #3399FF;
    --azulOscuro: #225F9D;
    --naranja: #FF9F27;
    --naranjaOscuro: #DF7A00;
    --grisUI: #212121;
    --grisSubtitulos: #292929;
    --grisSubmenu: #272727;
    --grisOscuroBG: #2E2E2E;
    --grisLetra: #707070;
    --grisClaro: #E1E1E1;
    --rojo: #820000;

    /* Sombras */
    --sombraIconos: 1px 1px 2px #212121;
    --sombraCajas: 0 2px 4px #212121B3;
    --sombraCajaPeque침a: 0 1px 3px #21212166;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--grisUI);
}

html {
    font-size: 16px;
}

.bold {
    font-weight: bold;
}

.content-container {
    position: relative;
    padding: 1.875rem 0;
    background: var(--grisClaro);
}

    .content-container .bg-layer { 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: var(--grisOscuroBG);  
    }

        body.transitions-night-mode-on .content-container .bg-layer {
            /* S칩lo aplica la transici칩n cuando la p치gina esta cargada. */
            transition: height .5s linear;
        }
    
.lato {
    font-family: 'Lato', sans-serif;
}

.opensans {
    font-family: 'Open Sans', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}


@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}