@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto&display=swap');

:root {
    /* Colores */
    --azulClaro: #3399FF;
    --azulOscuro: #225F9D;
    --naranja: #FF9F27;
    --naranjaOscuro: #DF7A00;
    --grisUI: #212121;
    --grisSubtitulos: #292929;
    --grisOscuroBG: #2E2E2E;
    --grisLetra: #707070;
    --grisClaro: #E1E1E1;
    --rojo: #820000;

    /* Sombras */
    --sombraIconos: 1px 1px 2px #212121;
    --sombraCajas: 0 2px 4px #212121B3;
    --sombraCajaPeque침a: 0 1px 3px #21212166;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--grisClaro);
}

html {
    font-size: 16px;
}

.content-container {
    position: relative;
}

    .content-container .bg-layer { 
        position: absolute;
        top: -1.875rem; /* padding del slider */
        left: 0;
        width: 100%;
        background: var(--grisOscuroBG);      
        z-index: -1;
    }

        .content-container .bg-layer.night {  
            height: 106.7%; /* 100% + los dos paddings del contenido */
        }

        body.transitions-night-mode-on .content-container .bg-layer {
            /* S칩lo aplica la transici칩n cuando la p치gina esta cargada. */
            transition: height .5s linear;
        }
    
.lato {
    font-family: 'Lato', sans-serif;
}

.opensans {
    font-family: 'Open Sans', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}
