.content-container .content {   
    grid-template-rows: repeat(14, auto) ;
    grid-template-areas: "titulo  titulo  titulo"
                         ".       .       ."
                         "texto1  texto1  imagen1"
                         "texto2  texto2  imagen1"
                         ".       .       imagen1"
                         "sub1    sub1    imagen1"
                         ".       .       imagen1"
                         "texto3  texto3  imagen1"
                         ".       .       imagen1"
                         "imagen2 sub2    sub2"
                         "imagen2 .       ."
                         "imagen2 texto4  texto4"
                         "imagen2 texto5  texto5"
                         "imagen2 texto6  texto6";   
}

    .content-container .content .image.one { 
        grid-area: imagen1;
        background: url("../images/andrei-slobtsov-unsplash.jpg") no-repeat center center/cover;
    }

    .content-container .content .image.two {
        grid-area: imagen2;
        background: url("../images/sebastian-j-unsplash.jpg") no-repeat center center/cover;
    }

    .content-container .content .parrafo.one { grid-area: texto1; }
    .content-container .content .parrafo.two { grid-area: texto2; }
    .content-container .content .parrafo.three { grid-area: texto3; }
    .content-container .content .parrafo.four { grid-area: texto4; }
    .content-container .content .parrafo.five { grid-area: texto5; }
    .content-container .content .parrafo.six { grid-area: texto6; }
    
        .content-container .content .parrafo ol {
            padding-left: 1.875rem;
        }

    .content-container .content .subtitle.one { grid-area: sub1; }
    .content-container .content .subtitle.two { grid-area: sub2; }

    .content-container .content .title {
        width: 58rem;
        left: -59.875rem;
        animation: cargarTitulo-P1 .7s ease-in-out .3s forwards;
    }