.content-container .content {   
    grid-template-rows: repeat(17, auto) ;
    grid-template-areas: "titulo  titulo  titulo"
                         ".       .       ."
                         "texto1  texto1  texto1"
                         "texto2  texto2  texto2"
                         ".       .       ."
                         "sub1    sub1    ."
                         ".       .       ."
                         "texto3  texto3  texto3"
                         ".       .       ."
                         "imagen1 imagen1 imagen1"
                         ".       .       ."
                         "sub2    sub2    ."
                         ".       .       ."
                         "texto4  texto4  texto4"
                         "texto5  texto5  texto5"
                         "texto6  texto6  texto6"
                         "imagen2 imagen2 imagen2";   
}

    .content-container .content .image.one {
        height: 13rem;
    }

    .content-container .content .image.two {
        height: 13rem;
        background-position: 50% 30%;
    }

    .content-container .content .title {
        --Titulo: 25rem;
        width: 25rem;
        left: -26.25rem;
    }

@media screen and (max-width: 375px) {
    .content-container .content .title {
        --Titulo: 24rem;
        width: 24rem;
        left: -25.25rem;
    }
}