.content-container .content {
    -ms-grid-rows: repeat(16, auto);
    grid-template-rows: repeat(16, auto);
    grid-template-areas: "titulo  titulo  titulo"
                         ".       .       ."
                         "texto1  texto1  texto1"
                         "texto2  texto2  texto2"
                         ".       .       ."
                         "sub1    sub1    ."
                         ".       .       ."
                         "texto3  texto3  texto3"
                         ".       .       ."
                         "imagen1 imagen1 imagen1"
                         ".       .       ."
                         "sub2    sub2    ."
                         ".       .       ."
                         "texto4  texto4  imagen2"
                         "texto5  texto5  imagen2"
                         "texto6  texto6  texto6";   
}

    .content-container .content .image.one {
        height: 15.25rem;
    }

    .content-container .content .image.two {
        background-position: 65% 50%;
    }

    .content-container .content .title {
        --Titulo: 39rem;
        width: 39rem;
        left: -40.5rem;
    }