.content-container .slider {
    position: relative;
    margin: 1.875rem auto;
    height: 56.25rem;
    width: 70%;
    max-width: 53.5625rem;
    box-shadow: var(--sombraCajas);
    overflow: hidden;
    background: var(--grisClaro);
}

    .content-container .slider .images .slide {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity .6s ease-in-out;
    }

    .content-container .slider .images .slide.current {
        opacity: 1;
    }

        .content-container .slider .images .slide.current .title {
            opacity: 1;
            z-index: 1;
            transform: translateX(-31rem);
            transition: all .7s ease-in-out .3s;
        }

        .content-container .slider .images .slide.current .title:hover h1 {
            color: var(--naranja);
            text-shadow: var(--sombraIconos);
        }
       
    .content-container .slider .images .slide:first-child  {
       background: url("../images/camilo-jimenez-unsplash.jpg") no-repeat 85% 50%/cover;
    }

    .content-container .slider .images .slide:nth-child(2)  {
        background: url("../images/first-aid-850489.jpg") no-repeat center center/cover;
    }

    .content-container .slider .images .slide:nth-child(3)  {
       background: url("../images/creators-collective-unsplash.jpg") no-repeat 40% 50%/cover;
    }

    .content-container .slider .images .slide:last-child  {
       background: url("../images/person-help-race-pxhere.com.jpg") no-repeat center center/cover;
    }
    
        .content-container .slider .images .slide .title {
            width: 31rem;
            position: absolute;
            top: 4.0625rem;
            right: -31rem;
            background: #FFFFFFB3;
            color: var(--grisSubtitulos);
            padding: 1.5rem;
            opacity: 0;
            text-decoration: none;
        }

            .content-container .slider .images .slide .title h1 {
                transition: all 1s ease;
            }

            .content-container .slider .images .slide .title h2 {
                font-weight: normal; 
            }
    
    .content-container .slider .nav button {
        cursor: pointer;
        color: var(--grisClaro);
        background-color: transparent;
        opacity: .6;
        position: absolute;
        top: 50%;
        border: none;
        outline: none;
        font-size: 2.5rem;
        transform: scale(.7);
        transition: all 1s ease-in-out;
    }

        .content-container .slider .nav button:hover {           
            opacity: 1;
            transform: scale(1);
            /*text-shadow: var(--sombraIconos);*/
        }

        .content-container .slider .nav button#next {
            right: 1rem;
        }

        .content-container .slider .nav button#prev {
            left: 1rem;
        }