.content-container .content {
    -ms-grid-rows: repeat(21, auto);
    grid-template-rows: repeat(21, auto);
    grid-template-areas: "titulo  titulo  titulo"
                         ".       .       ."
                         "texto1  texto1  sub1"
                         "tabla1  tabla1  imagen1"
                         "texto2  texto2  texto2"
                         ".       .       ."
                         "sub2    sub2    ."
                         ".       .       ."
                         "texto3  texto3  texto3"
                         "imagen2 imagen2 imagen2"
                         "sub3    sub3    ."
                         ".       .       ."
                         "texto4  texto4  texto4"
                         ".       .       ."
                         "sub4    sub4    ."
                         ".       .       ."
                         "texto5  texto5  texto5"
                         "imagen3 imagen3 imagen3"
                         "texto6  texto6  texto6"
                         "texto7  texto7  texto7"
                         "texto8  texto8  texto8";   
}

    /* Night-mode */
    body.night .content-container .content {
        -ms-grid-rows: repeat(22, auto);
        grid-template-rows: repeat(22, auto);
        grid-template-areas: "titulo  titulo  titulo"
                             ".       .       ."
                             "texto1  texto1  sub1"
                             "tabla1  tabla1  imagen1"
                             "texto2  texto2  texto2"
                             ".       .       ."
                             "sub2    sub2    ."
                             ".       .       ."
                             "texto3  texto3  texto3"
                             ".       .       ."
                             "sub3    sub3    ."
                             ".       .       ."
                             "texto4  texto4  texto4"
                             "imagen2 imagen2 imagen2"
                             ".       .       ."
                             "sub4    sub4    ."
                             ".       .       ."
                             "texto5  texto5  texto5"
                             "imagen3 imagen3 imagen3"
                             "texto6  texto6  texto6"
                             "texto7  texto7  texto7"
                             "texto8  texto8  texto8"; 
    }

    /* Night-mode */
    body.night .content-container .content .image.two {
        height: 15.25rem;
        background-position: 70% 50%;
    }

    .content-container .content .image.three { 
        height: 15.25rem;
        background-position: 50% 80%;
    }

    .content-container .content .title {
        --Titulo: 35rem;
        width: 35rem;
        left: -36.5rem;
    }