Enlaces/A guide to implemen-ting dark modes on websites - Koos Looijesteijn.url
Enlaces/Behance -- Lo mejor de Behance.url
Enlaces/Como Hacer un Slider Responsive para tu sitio web con Flexslider 2017 ( html,css y js ) - YouTube.url
Enlaces/Crea un Slider Responsive con JavaScript y CSS3 - YouTube.url
Enlaces/Create A Page Transition Effect In Javascript Tutorial - YouTube.url
Enlaces/Curso Java. Excepciones I. Vídeo 142 - YouTube.url
Enlaces/Dark Mode in CSS - CSS-Tricks.url
Enlaces/Dark Mode UI- the definitive guide - UX Collective.url
Enlaces/Dark theme in a day - Marcin Wichary - Medium.url
Enlaces/How To Create a Full screen Overlay Navigation.url
Enlaces/How To Create a Slideshow.url
Enlaces/Media Queries.url
Enlaces/Minimalist CSS Text Sliding Animation Tutorial - YouTube.url
Enlaces/Page Transitions for Everyone - CSS-Tricks.url
Enlaces/Pure CSS Based Fullscreen Slider - HTML5 css slider - HTML Lion.url
Enlaces/W3.CSS Slideshow.url
Enlaces/Wires - Web.xd
mockup/Nuevo documento de texto.txt
mockup/FOL13.xd
